= form_tag management_update_path, :method => :put do
  %table.tg
    %tr
      %th.tg-title ID
      %th.tg-title E-Mail
      %th.tg-title First Name
      %th.tg-title Last Name
      %th.tg-title Admin?
      %th.tg-title Redactor?
    - @users.each do |user|
      %tr
        = fields_for "users[]", user do |f|
          = render 'row', :user => user, :f => f

  = submit_tag 'Update'
